* {
  padding: 0%;
  margin: 0%;
  box-sizing: border-box;
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.spinner {
  width: 160px;
  height: 160px;
  border-radius: 50%;
  border: 12px solid rgba(0, 0, 0, 0.162);
  border-left: 12px solid #28b4ef;
  animation: loader 1.5s infinite linear;
}
@keyframes loader {
  100% {
    transform: rotate(360deg);
  }
}
